name: Build and Push Docker Image to GHCR

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Read index.yml
        id: read_index
        run: |
          INDEX_FILE="index.yml"
          COMMIT_MSG="${{ github.event.head_commit.message }}"

          IMAGE_NAME=$(echo "$COMMIT_MSG" | cut -d ':' -f1)
          IMAGE_TAG_VERSION=$(echo "$COMMIT_MSG" | cut -d ':' -f2)

          echo "Commit message: $COMMIT_MSG"
          echo "Image name: $IMAGE_NAME"
          echo "Image tag version: $IMAGE_TAG_VERSION"

          IMAGE_PATH=$(grep -A 1 "name: $IMAGE_NAME" $INDEX_FILE | grep "path:" | cut -d ' ' -f2)

          if [ -z "$IMAGE_PATH" ]; then
            echo "âŒ ERROR: Image '$IMAGE_NAME' not found in index.yml"
            exit 78
          fi

          echo "Image path: $IMAGE_PATH"

          echo "IMAGE_PATH=$IMAGE_PATH" >> $GITHUB_ENV
          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
          echo "IMAGE_TAG_VERSION=$IMAGE_TAG_VERSION" >> $GITHUB_ENV

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/$GITHUB_REPOSITORY/$IMAGE_NAME:$IMAGE_TAG_VERSION -f $IMAGE_PATH/Dockerfile .

      - name: Push Docker image to GitHub Container Registry
        run: |
          docker push ghcr.io/$GITHUB_REPOSITORY/$IMAGE_NAME:$IMAGE_TAG_VERSION
